html, body {
  min-height: 100%;
  width: 100%;
  margin: 0; }

body {
  width: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-image: url("../img/group-6.png");
  background-repeat: no-repeat;
  background-size: cover; }

.wrapper {
  min-width: 500px;
  padding: 0 100px;
  box-sizing: border-box; }

.header {
  padding: 50px 25px 50px; }
  .header:after {
    content: '';
    display: table;
    clear: both; }
  .header__left {
    float: left; }
  .header__right {
    float: right; }

.main:after {
  content: '';
  display: table;
  clear: both; }

.item {
  display: block;
  float: left;
  width: 20%;
  padding: 0 25px;
  margin-bottom: 44px;
  text-align: center;
  box-sizing: border-box;
  text-decoration: none;
  color: #d9d9d9;
  transition: all .3s ease; }
  .item:active, .item:visited {
    color: #d9d9d9;
    text-decoration: none; }
  .item:hover {
    color: #fff;
    text-decoration: none; }
    .item:hover .item__figure {
      background-color: #1b1a1a; }
  .item__figure {
    position: relative;
    width: 100%;
    height: 220px;
    padding-top: 50px;
    border: 1px solid transparent;
    border-radius: 16px;
    background-color: #000;
    box-sizing: border-box;
    transition: all .3s ease; }
    .item__figure:before {
      display: block;
      content: '';
      position: absolute;
      top: -2px;
      left: -3px;
      right: -3px;
      bottom: -3px;
      background-image: linear-gradient(to bottom, #797979, #2c2c2c);
      border-radius: 16px;
      z-index: -1; }
  .item__img {
    border: 0; }
  .item__title {
    padding-top: 24px;
    font-size: 32px;
    font-weight: 500; }

.myshop .header__left, .payments .header__left {
  padding: 15px 20px 0 0; }

.myshop-item, .payments-item {
  display: block;
  float: left;
  width: 33.33%;
  padding: 0 25px;
  margin-bottom: 48px;
  box-sizing: border-box;
  text-decoration: none;
  cursor: pointer; }
  .myshop-item__pic, .payments-item__pic {
    width: 100%;
    height: auto; }

.title {
  margin: 0;
  padding: 0;
  display: inline-block;
  font-weight: 500;
  font-size: 72px;
  color: #e0e0e0;
  vertical-align: middle; }

.title-block__link {
  display: inline-block;
  vertical-align: middle;
  margin-right: 30px; }

.myshop-counter {
  padding-top: 10px;
  font-size: 24px;
  color: #7b7b7b; }

.menu {
  position: relative;
  text-align: justify; }
  .menu:after {
    content: '';
    display: table;
    clear: both; }
  .menu__item {
    display: inline-block;
    width: 210px;
    text-align: center;
    font-size: 20px;
    color: #d9d9d9;
    box-sizing: border-box;
    text-decoration: none; }
    .menu__item .menu__pic {
      border: none; }
  .menu__image {
    position: relative;
    height: 135px; }
  .menu__pic {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }
  .menu__title {
    padding: 2px 0 10px; }
  .menu__bg {
    position: absolute;
    top: 0;
    width: 210px;
    height: 175px;
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 0.05);
    border-bottom: 7px solid #2196f3;
    box-sizing: border-box;
    transition: all .3s ease;
    z-index: -1; }

.nav {
  text-align: center;
  padding: 0 25px 50px; }
  .nav:after {
    content: '';
    display: table;
    clear: both; }
  .nav__left {
    float: left; }
  .nav__right {
    float: right; }

.btn {
  position: relative;
  display: inline-block;
  padding: 24px 95px;
  border-radius: 10px;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1;
  transition: all .3s ease; }
  .btn_accent {
    background-color: rgba(255, 255, 255, 0.05);
    border: solid 4px #7a9954;
    color: #7a9954; }
    .btn_accent:hover {
      background-color: #7a9954;
      color: #fff; }
  .btn_nav {
    background-color: #000; }
    .btn_nav:before {
      display: block;
      content: '';
      position: absolute;
      top: -1px;
      left: -1px;
      right: -1px;
      bottom: -1px;
      background-image: linear-gradient(to bottom, #797979, #2c2c2c);
      border-radius: 10px;
      z-index: -1; }
    .btn_nav:hover {
      background-color: #151414; }

.notification {
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 38px;
  height: 38px;
  line-height: 38px;
  font-size: 24px;
  color: #fff;
  background-color: #b22d2d;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle; }

.turn-off {
  padding: 0 25px 15px; }

.turn-off__btn {
  display: block;
  position: relative;
  width: 84px;
  height: 85px;
  padding-top: 23px;
  border: 1px solid transparent;
  border-radius: 16px;
  background-color: #000;
  box-sizing: border-box;
  text-align: center;
  transition: all .3s ease; }
  .turn-off__btn:before {
    display: block;
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background-image: linear-gradient(to bottom, #797979, #2c2c2c);
    border-radius: 16px;
    z-index: -1; }
  .turn-off__btn:active, .turn-off__btn:visited {
    color: #d9d9d9;
    text-decoration: none; }
  .turn-off__btn:hover {
    background-color: #1b1a1a;
    text-decoration: none; }

@media only screen and (max-width: 1900px) {
  .title {
    font-size: 40px; }
  .myshop-counter {
    font-size: 20px; }
  .menu__item {
    width: 160px; }
  .menu__bg {
    width: 160px;
    height: 140px;
    left: 160px; }
  .menu__image {
    height: 100px; }
  .menu__pic {
    height: auto; }
  .myshop .menu__item:nth-child(1) .menu__pic {
    width: 79px; }
  .myshop .menu__item:nth-child(2) .menu__pic {
    width: 79px; }
  .myshop .menu__item:nth-child(3) .menu__pic {
    width: 75px; }
  .myshop .menu__item:nth-child(4) .menu__pic {
    width: 52px; }
  .myshop .menu__item:nth-child(5) .menu__pic {
    width: 47px; }
  .payments .menu__item {
    height: auto; }
    .payments .menu__item:nth-child(1) .menu__pic {
      width: 44.6px; }
    .payments .menu__item:nth-child(2) .menu__pic {
      width: 32px; }
    .payments .menu__item:nth-child(3) .menu__pic {
      width: 30px; }
    .payments .menu__item:nth-child(4) .menu__pic {
      width: 42px; } }

@media only screen and (max-width: 1400px) {
  .item {
    width: 25%; }
  .myshop .header__left, .myshop .header__right, .payments .header__left, .payments .header__right {
    width: 100%;
    float: none;
    padding: 15px 20px 0 20px; }
  .myshop .header__right, .payments .header__right {
    text-align: center; }
  .menu {
    text-align: center; }
  .btn {
    padding: 15px 40px; } }

@media only screen and (max-width: 1200px) {
  .item, .myshop-item, .payments-item {
    width: 50%; } }

@media only screen and (max-width: 700px) {
  .item, .myshop-item, .payments-item {
    width: 100%; }
  .header__left, .header__right {
    width: 100;
    float: none;
    margin-bottom: 20px;
    text-align: center; }
  .btn {
    padding: 5px 15px;
    font-size: 22px; } }
